# Ignore Python bytecode and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment variables and secrets (if applicable)
.env

# Ignore folders
build/
jars/

# Ignore files
*.pages

# Ignore all .txt files
*.txt

# Exception: Do not ignore this specific .txt file
!requirements.txt

# Ignore logs (TensorBoard logs or other logs)
logs/
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific or editor files
.DS_Store
.idea/
.vscode/
